---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/test_user/test_repo/issues?access_token=test_token
    body:
      encoding: UTF-8
      string: '{"title":"Title 1","body":"Empty","assignee":"test_user","labels":["Text"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1532410356'
      Etag:
      - '"44212a7145a29db002d6067e8bcd418f"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/test_user/test_repo/issues/10
      X-Github-Media-Type:
      - github.v3; format=json
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/test_user/test_repo/issues/10","repository_url":"https://api.github.com/repos/test_user/test_repo","labels_url":"https://api.github.com/repos/test_user/test_repo/issues/10/labels{/name}","comments_url":"https://api.github.com/repos/test_user/test_repo/issues/10/comments","events_url":"https://api.github.com/repos/test_user/test_repo/issues/10/events","html_url":"https://github.com/test_user/test_repo/issues/10","id":343881042,"node_id":"MDU6SXNzdWUzNDM4ODEwNDI=","number":10,"title":"Title
        1","user":{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false},"labels":[{"id":1002964775,"node_id":"MDU6TGFiZWwxMDAyOTY0Nzc1","url":"https://api.github.com/repos/test_user/test_repo/labels/Text","name":"Text","color":"ededed","default":false}],"state":"open","locked":false,"assignee":{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false},"assignees":[{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2018-07-24T04:32:36Z","updated_at":"2018-07-24T04:32:36Z","closed_at":null,"author_association":"OWNER","body":"Empty","closed_by":null}'
  recorded_at: Tue, 24 Jul 2018 04:32:36 GMT
recorded_with: VCR 3.0.3
