---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/test/test_repo/issues?access_token=test_token&filter=all&per_page=100&sort=created&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1531831369'
      Etag:
      - W/"59d07ca631803313c14fa6964086411c"
      X-Oauth-Scopes:
      - notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/test/test_repo/issues/6","repository_url":"https://api.github.com/repos/test/test_repo","labels_url":"https://api.github.com/repos/test/test_repo/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/test/test_repo/issues/6/comments","events_url":"https://api.github.com/repos/test/test_repo/issues/6/events","html_url":"https://github.com/test/test_repo/issues/6","id":341880985,"node_id":"MDU6SXNzdWUzNDE4ODA5ODU=","number":6,"title":"Major
        Issue","user":{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false},"labels":[{"id":996332732,"node_id":"MDU6TGFiZWw5OTYzMzI3MzI=","url":"https://api.github.com/repos/test/test_repo/labels/Major","name":"Major","color":"986afc","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-07-17T11:36:06Z","updated_at":"2018-07-17T11:36:06Z","closed_at":null,"author_association":"OWNER","body":"##
        What is it?\r\n\r\nA single sentence that supplements the title to describe
        what this issue is.\r\n\r\n### Problem\r\n\r\nDescribe the problem that needs
        to be solved.\r\n\r\n### Solution\r\n\r\nDescribe the solution to the above
        stated problem.\r\n\r\n### Steps to implement\r\n\r\n1. Provide either a numbered
        list\r\n2. That that provides steps to implement   \r\n\r\n* Or a bullet list
        of items\r\n* If order doesn''t matter\r\n"[...]
- request:
    method: get
    uri: https://api.github.com/repos/test/test_repo/contents/StringUtilsLib/StringUtilsLib.sol?ref=d269e5923b0d8c0ef7e391417109f219234f3ae1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "token test_token"
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://raw.githubusercontent.com/test/test_repo/d269e5923b0d8c0ef7e391417109f219234f3ae1/StringUtilsLib/StringUtilsLib.sol
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://raw.githubusercontent.com/test/test_repo/d269e5923b0d8c0ef7e391417109f219234f3ae1/StringUtilsLib/StringUtilsLib.sol">redirected</a>.</body></html>
  recorded_at: Tue, 17 Jul 2018 12:02:08 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/test/test_repo/d269e5923b0d8c0ef7e391417109f219234f3ae1/StringUtilsLib/StringUtilsLib.sol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b559f3bf6ffa074b451ddbcedfcd07ed3321229b"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 9be3f79f75cab9c36b7041f84c2b8045dde0ff45
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        pragma solidity ^0.4.18;

        /*
         * @title String & slice utility library for Solidity contracts.
         * @author Nick Johnson <arachnid@notdot.net>
         *
         * version 1.2.0
         * Copyright 2016 Nick Johnson
         * Licensed under the Apache License, Version 2.0 (the "License");
         * you may not use this file except in compliance with the License.
         * You may obtain a copy of [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/test/test_repo/contents/CrowdsaleLib/IICOLib/InteractiveCrowdsaleLib.sol?ref=bcd15f73f0c229f7f4ac05bc872994a2cb571d65
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "token test_token"
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://raw.githubusercontent.com/test/test_repo/bcd15f73f0c229f7f4ac05bc872994a2cb571d65/CrowdsaleLib/IICOLib/InteractiveCrowdsaleLib.sol
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://raw.githubusercontent.com/test/test_repo/bcd15f73f0c229f7f4ac05bc872994a2cb571d65/CrowdsaleLib/IICOLib/InteractiveCrowdsaleLib.sol">redirected</a>.</body></html>
  recorded_at: Tue, 17 Jul 2018 12:02:11 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/test/test_repo/bcd15f73f0c229f7f4ac05bc872994a2cb571d65/CrowdsaleLib/IICOLib/InteractiveCrowdsaleLib.sol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"db4bb5426c8b3629dc0a713794403fb936bcd2af"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - [...]
