---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/test/test_repo/issues?access_token=test_token&filter=all&per_page=100&sort=created&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1531831369'
      Etag:
      - W/"11b4a08cdf527e81e3575436636d5bb8"
      X-Oauth-Scopes:
      - notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/test/test_repo/issues/5","repository_url":"https://api.github.com/repos/test/test_repo","labels_url":"https://api.github.com/repos/test/test_repo/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/test/test_repo/issues/5/comments","events_url":"https://api.github.com/repos/test/test_repo/issues/5/events","html_url":"https://github.com/test/test_repo/issues/5","id":340217215,"node_id":"MDU6SXNzdWUzNDAyMTcyMTU=","number":5,"title":"Audit
        Todo 1","user":{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false},"labels":[{"id":990627530,"node_id":"MDU6TGFiZWw5OTA2Mjc1MzA=","url":"https://api.github.com/repos/test/test_repo/labels/Audit-Todo","name":"Audit-Todo","color":"ededed","default":false}],"state":"closed","locked":false,"assignee":{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false},"assignees":[{"login":"test_user","id":988067,"node_id":"MDQ6VXNlcjk4ODA2Nw==","avatar_url":"https://avatars1.githubusercontent.com/u/988067?v=4","gravatar_id":"","url":"https://api.github.com/users/test_user","html_url":"https://github.com/test_user","followers_url":"https://api.github.com/users/test_user/followers","following_url":"https://api.github.com/users/test_user/following{/other_user}","gists_url":"https://api.github.com/users/test_user/gists{/gist_id}","starred_url":"https://api.github.com/users/test_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test_user/subscriptions","organizations_url":"https://api.github.com/users/test_user/orgs","repos_url":"https://api.github.com/users/test_user/repos","events_url":"https://api.github.com/users/test_user/events{/privacy}","received_events_url":"https://api.github.com/users/test_user/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2018-07-11T12:19:01Z","updated_at":"2018-07-17T12:13:27Z","closed_at":"2018-07-17T12:13:27Z","author_association":"OWNER","body":"Todo
        todo\r\n\r\n```solidity\r\nfunction foo() {\r\n}\r\n```"},{"url":"https://api.github.com/repos/test/test_repo/issues/4","repository_url":"https://api.github.com/repos/test/test_repo","labels_url":"https://api.github.com/repos/test/test_repo/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/test/test_repo/issues/4/comments","events_url":"https://api.github.com/repos/test/test_repo/issues/4/events","html_url":"https://github.com/test/test_repo/issues[...]
- request:
    method: get
    uri: https://api.github.com/repos/test/test_todo_audit/issues?access_token=test_token&filter=all&per_page=100&sort=created&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaini[...]
- request:
    method: post
    uri: https://api.github.com/repos/test/test_repo/issues?access_token=test_token
    body:
      encoding: UTF-8
      string: '{"title":"Audit Todo 3","body":"Todo 3","assignee":"test_user","labels":["Audit-Todo"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1531831369'
      Etag:
      - '"a1a6ccbb68788514e4bd5968f2e690e5"'
      X-Oauth-Scopes:
      - notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/test/test_repo/issues/7
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/test/test_repo/issues/7","repository_url":"https://api.github.com/repos/test/test_repo","labels_url":"https://api.github.com/repos/test/test_repo/issues/7/labels{/name}","comments_url":"https://api.github.com/repos/test/test_repo/issues/7/comments","events_url":"https://api.github.com/repos/test/test_repo/issu[...]
[...]
